*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.flex-container {
    height: 100%;
    display: flex;
}

aside{
    background-color: gray;
    width: 16rem;
    height: 100%;
    display: flex;
    justify-content: center;
}

.aside-container{
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: aqua;
}

.container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 16rem);
}

nav{
    background-color: beige;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-name {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative
}

.main-container {
    flex-basis: 70%;
    height: 15rem;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.main-container input {
    width: 16rem;
}
.main-container div {
    background-color: gray;
    width: 6rem;
    text-align: center;
    padding: 0.5rem;
}

.logo {
    height: 5rem;
    width: 5rem;
    background-color: gray;
    border-radius: 50%;
    position:absolute;
    bottom: 2rem;
    right: 2rem;
}

.uno {
    display: none;
}

@media screen and (max-width: 768px) {
    aside{
        display: none;
    }

    .container{
        width: 100%;
    }
    nav {
        width: 100%;
    }

    main{
        align-items: flex-start;
        width: 100%;
    }

    .main-container{
        flex-basis: 100%;
    }

    .main-container div {
        display: none;
    }

    .logo {
        left: 2rem;
    }

    .uno {
        display: initial;
        height: 2rem;
        width: 6rem;
        background-color: gray;
    }
}